body{
	margin:0px;
	overflow-y:hidden;
}
.container{
margin-left:0px;
padding-top:0px;

}
.heading{
	background-color:#00adff;
	padding-left:50px;
	padding-top:25px;
	padding-right:50px;
	padding-bottom:25px;
	margin-bottom:2px;
	color:white;
	font-family:Calibri;
}
.allUsers {
  list-style-type: none;
  margin:0px;
  padding-top:30px;
  width: 300px;
  background-color:#fafafa;
  padding-bottom:150px;
  float:left;
 
 color:#b8b8b8;
} 
.designation
{
	font-size:11px;
}
.users  {
  font-family:Calibri;
  padding: 20px 16px;
  text-decoration: none;
  
  }
  .userLinks{
	  border-bottom:1px solid LightGray;
  }
.prakashProfile{
	
	margin-top:10px;
	margin-left:370px;
	padding-top:20px;
	
	font-family:Calibri;
}
.profileBackground
{
	background-color:#fafafa;
	
	padding-top:20px;
	padding-bottom:60px;
}
.prakashImage
{
	padding-left:20px;
	padding-right:50px;
	float:left;
}
.prakash{
	
	color:#747474;
	
	font-weight:bold;
}
.prakashDesignation{
	color:#a9a9a9;
}
.profile::before{
	
	content:":";
	text-align:center;
	padding-right:10px;
	color:#b8b8b8;
}
.aboutMe{
	padding-top:20px;
font-family:Calibri;
padding-left:15px;
padding-right:5px;
}
.employees
{
	color:#b8b8b8;
	text-decoration:none;
}
.button {
  background-color: #00adff;
  border: none;
  color: white;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  
  cursor: pointer;
}
.aboutMeHeading{
	color:#00adff;
	font-size:18px;
	font-weight:1000;
	font-family:Calibri;
}
.profilePrakash
{
	padding-left:10px;
	display:inline-block;
}
.profileTextLeft{
	float:left;
	width:100px;
	color:#b8b8b8;
}
.profile-text-right{
	color:#565b61;
}
.prakashchauhan
{
	text-decoration:none;
	color:#8a8a8a;
	font-weight:1000;
}
.usersLink
{
	color:#00adff;
	text-decoration:none;
	font-weight:1000;
	font-family:Calibri;
	font-size:18px;
}
.profileInfo{
	padding-bottom:13px;
}
.aboutprakash
{
	font-family:Calibri;
}
